.color_gold {
  background-color: $color_gold;
}

.color_grass_border {
  border: 5px solid $color_grass;
}
.color_poison_border {
  border: 5px solid $color_poison;
}
.color_fire_border {
  border: 5px solid $color_fire;
}
.color_flying_border {
  border: 5px solid $color_flying;
}
.color_water_border {
  border: 5px solid $color_water;
}
.color_bug_border {
  border: 5px solid $color_bug;
}
.color_normal_border {
  border: 5px solid $color_normal;
}
.color_dark_border {
  border: 5px solid $color_dark;
}
.color_electric_border {
  border: 5px solid $color_electric;
}
.color_psychic_border {
  border: 5px solid $color_psychic;
}
.color_ground_border {
  border: 5px solid $color_ground;
}
.color_ice_border {
  border: 5px solid $color_ice;
}
.color_steel_border {
  border: 5px solid $color_steel;
}
.color_fairy_border {
  border: 5px solid $color_fairy;
}
.color_fighting_border {
  border: 5px solid $color_fighting;
}
.color_rock_border {
  border: 5px solid $color_rock;
}
.color_dragon_border {
  border: 5px solid $color_dragon;
}
.color_ghost_border {
  border: 5px solid $color_ghost;
}

.color_grass_border-bot {
  border-bottom: 5px solid $color_grass;
}
.color_poison_border-bot {
  border-bottom: 5px solid $color_poison;
}
.color_fire_border-bot {
  border-bottom: 5px solid $color_fire;
}
.color_flying_border-bot {
  border-bottom: 5px solid $color_flying;
}
.color_water_border-bot {
  border-bottom: 5px solid $color_water;
}
.color_bug_border-bot {
  border-bottom: 5px solid $color_bug;
}
.color_normal_border-bot {
  border-bottom: 5px solid $color_normal;
}
.color_dark_border-bot {
  border-bottom: 5px solid $color_dark;
}
.color_electric_border-bot {
  border-bottom: 5px solid $color_electric;
}
.color_psychic_border-bot {
  border-bottom: 5px solid $color_psychic;
}
.color_ground_border-bot {
  border-bottom: 5px solid $color_ground;
}
.color_ice_border-bot {
  border-bottom: 5px solid $color_ice;
}
.color_steel_border-bot {
  border-bottom: 5px solid $color_steel;
}
.color_fairy_border-bot {
  border-bottom: 5px solid $color_fairy;
}
.color_fighting_border-bot {
  border-bottom: 5px solid $color_fighting;
}
.color_rock_border-bot {
  border-bottom: 5px solid $color_rock;
}
.color_dragon_border-bot {
  border-bottom: 5px solid $color_dragon;
}
.color_ghost_border-bot {
  border-bottom: 5px solid $color_ghost;
}
