@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url('../assets/fonts/arimo/arimo-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url('../assets/fonts/arimo/arimo-italic.woff2') format('woff2');
}
