$color_grass: #38d515;
$color_poison: #9141cb;
$color_fire: #ff2e2e;
$color_flying: #81b9ef;
$color_water: #2080ff;
$color_bug: #b8cd1b;
$color_normal: #7c7d7c;
$color_dark: #624d4e;
$color_electric: #fac000;
$color_psychic: #ef4179;
$color_ground: #915121;
$color_ice: #3dcef3;
$color_steel: #60a1b8;
$color_fairy: #ef70ef;
$color_fighting: #ff8000;
$color_rock: #afa981;
$color_dragon: #5060e1;
$color_ghost: #704170;
$color_gold: rgb(255, 217, 0);

$background_main: #8ec3e1;
$background_nav: #ef5350;
$background_secondary: #171717;
$nav_values: #f16966;
$nav_border: #cb201d;
$button_bg: #b0312f;
$button_bg_hover: #ed8483;

$input_border: #b0312f;
$input_bg: #ed8483;

$text_shadow: #282828;
$text_main: #454545;
